body, HTML, input {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

#main {
  position: fixed;
  top: 0;
  bottom: 0;
}

header {
  position: absolute;
  width: 40%;
  left: 50px;
  top: 50px;
  -webkit-transition: top 0.75s;
  transition: top 0.75s;
}

footer {
  position: absolute;
  width: 200px;
  bottom: 30px;
  right: 50px;
  text-align: right;
}

footer h2 {
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2px 10px;
  margin-left: -20px;
  text-align: left;
}

footer:hover #logos {
  width: 100px;
  height: 30px;
}

#logos {
  width: 0px;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: width 1s;
  transition: width 1s;
  height: 30px;
  margin-bottom: -9px;
  margin-right: -10px;
}

.logo {
  height: 25px;
  cursor: pointer;
}

form {
  position: absolute;
  bottom: -90px;
}

input {
  margin-top: 10px;
  outline: none;
  padding-bottom: 2px;
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid gray;
}

ul {
  position: absolute;
  font-size: 9px;
  width: 300px;
  top: 100px;
  right: 10px;
  height: 500px;
  overflow: scroll;
}








.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
